@charset "UTF-8";

/* Paleta de cores:
Indigo : 033f63
Aquamarine: bcffdb
Periwinkle: beb7df
*/

:root {
    --cor01: #033f63;
    --cor02: #bcffdb; 
    --cor03: #beb7df;
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #beb7df;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: aliceblue;
    width: 300px;
    height: 500px;
    border-radius: 25px;

    transition: width 1s, height 1s;
}

#login > div#imagem {
    display: block;
    background: #beb7df url(../imagens/floresta.jpg) no-repeat;
    background-size: cover;
    height: 300px;
}

#login > div#form {
    display: block;
    padding: 15px;
}